*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 17.5vh;
}

@media (max-width: 767px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 13vh;
  }

  #headerwrap{
    background-attachment: scroll !important;
  }
  
}

@media (max-height: 600px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 27vh;
  }
  
  #headerwrap{
    background-attachment: scroll !important;
  }
  
}

a{
  text-decoration: none;
  color: inherit;
  outline: none !important;
  transition: all 0.5s ease-in-out;
}


#top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  transition: .2s linear; 
}

#top.sticky{
  background-color:#000000e0 ;
  transition: .2s linear;
  transform: translateY(-10px);   /*transform:scale(1, -1);*/
}

#top ul{
  display: flex;
  list-style-type: none;
}

.showing{
  color: #085af3;
}

.navmobile:hover{
  color: #085af3;
}

.btn{
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.btn::before{
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #fff;
}    

.btn-ltr::before {
width: 0%;
bottom: 10px;
}

.btn-ltr:hover::before {
  width: 100%;
}
.active::before {
  width: 100%;
}

#home{
  background: #000;
}

#headerwrap{
  background-image: url('./assets/portrait1.jpg');
  background-color: #505050;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#summary{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
}


#about{
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#projects{
  min-height: 100vh;
}

.group{
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.295);
}

.group:hover img {
  transform: scale(1.3); /* Adjust the scale factor as needed */
  transition: .5s ease-in
}

/* #contact{

} */